<div class="container text-center">
    <div class="row">
        <div class="col-12">
            <span style="font-family:Calibri; font-size:xx-large" class="text-center">Civic Information Tool</span>
            <br />
            <span style="font-family:Calibri; font-size:x-large" class="text-center">Quick Links</span>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <span style="font-family:Calibri; font-size:x-large" class="text-center">Search Query</span>
            <br />
            <a href="search">
                <i class="fa fa-search" style="font-size: 105px;"></i>
            </a>
        </div>
        <div class="col-sm-6">
            <span style="font-family:Calibri; font-size:x-large" class="text-center">Election List</span>
            <br />
            <a href="electionlist">
                <i class="fa fa-list" style="font-size: 105px;"></i>
            </a>
        </div>
    </div>
</div>
